<section class="d-flex justify-content-center align-self-center pt-5">
  
<form action="/user/edit" method="post">
<h3 class="d-flex justify-content-center">Edit password</h3>
  <div class="mb-3">
    <label for="password" class="form-label">new Password</label>
    <input type="password" class='form-control'name="password" placeholder="**********">
  </div>
  <div class="d-grid gap-2">
  <input type="submit" class="btn btn-primary btn-block" value="Accept">
</div>
</form>  
</section>
